/* -------------------------------------FONTS FONTS FONTS--------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Teko");
@import url("https://fonts.googleapis.com/css?family=Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Nixie+One|Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC|Faster+One|Six+Caps|Wire+One");

/* ---------------------------------------------------------------------------------------------------- */

.fab {
  display: block;
}

main {
  height: 100%;
}

h1,
h2 {
  font-family: Teko;
  font-weight: normal;
  line-height: 90%;
}

* {
  box-sizing: border-box;
}

html {
  background-image: url("https://wallpaperaccess.com/full/202978.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
}

body {
  color: black;
  font-family: Teko, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0;
  display: block;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
  margin-bottom: 0;
}

a:hover,
a:active {
  color: white;
  margin-bottom: 0;
}

header {
  border-bottom: 1px solid black;
  background: rgba(31, 49, 65, 0.9);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  /* justify-content: flex-end; */
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 5px;
  border-bottom: solid 2px rgb(50, 67, 88);
}

h1 {
  color: white;
  font-size: 4.5rem;
  margin: 0;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  width: 50%;
  font-size: 3rem;
  margin: 0px;
  color: white;
  border-color: white;
}

p {
  font-size: 1.25rem;
}

.divider {
  display: none;
}

/* ---------------------------------TOP INFO TOP INFO TOP INFO ------------------*/

.roma-topleft {
  font-size: 1.8rem;
  font-family: "Teko";
  color: rgb(211, 189, 174);
  position: relative;
  top: 3px;
  padding: 0 0 0 5px;
}

.romanpirag {
  border-width: 5px;
  opacity: 0.9;
  color: white;
  text-align: center;
}

@media (min-width: 800px) {
  .romanpirag {
    border-width: 5px;
    opacity: 0.9;
    color: white;
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;

    align-items: start;
  }
}

.inner-description {
  display: none;
}

/* ------------------------PROJECTS PROJECTS PROJECTS PROJECTS-------------------------------🍕🍕🍕 */

.project-link {
  border: solid 2px rgb(0, 0, 0);
  width: 100%;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.project-link:hover {
  border: solid 2px rgb(211, 211, 211);
}

.projects-header {
  background: rgb(0, 0, 0, 0.5);
  opacity: 0.9;
  width: 100%;
}

.project-container {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.blogs-container {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.project-description {
  opacity: 0.9;
  color: beige;
  width: 100%;
  background: rgb(92, 126, 141, 0.1);
  font-size: 1.2rem;
  text-align: left;
  margin-top: -4px;
  margin-bottom: 30px;
  padding: 10px;
}

.small-app-description {
  display: inline;
  font-size: 1rem;
  color: white;
}

.blog-description {
  display: inline;
  color: white;
}

/* ------------------------CONTACT AND FOOTER------------------------------- */

.contact-container {
  display: flex;
  opacity: 0.9;
  background: black;
  justify-content: center;
  color: beige;
  border-top: solid 2px rgb(68, 88, 117);
}

.copyright {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  width: 100%;
  background: black;
  font-size: 1.2rem;
  color: beige;
  font-family: "Teko";
}

.top-section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  width: 100%;
}

@media (min-width: 800) {
  .top-section {
    margin-top: 400px;
  }
}

section {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  width: 100%;
  margin-top: 20px;
}

.topbox {
  width: 800px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

@media (min-width: 800px) {
  section {
    margin-top: 50px;
  }
}

.headline-container {
  text-align: center;
  width: 100%;
  display: block;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 800px) {
  .headline-container {
    width: auto;
    display: grid;
    justify-content: left;
    text-align: left;
    grid-column: 3/7;
    grid-row: 2/7;
    grid-template-columns: 300px 500px;
    grid-template-rows: 60px 50px 150px ;
  }
}

.frontend-text {
  color: beige;
  text-align: center;
  opacity: 0.8;
  background-image: linear-gradient(
    to left,
    rgb(92, 126, 141, 0.001),
    rgb(92, 126, 141, 0.2)
  );
  font-size: 1.4rem;
  color: white;
  margin: 0;
}

@media (min-width: 800px) {
  .frontend-text {
    font-size: 1.4rem;
    color: beige;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    padding: 0 0 0 5px; 
  }
}

.bio {
  display: none;
}
.romaimage {
  width: 100%;
  max-width: 300px;
  /* padding: 10px; */
}

@media (min-width: 800px) {
  .romaimage {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.inner-description {
  display: inline;
  color: white;
}
.blog-description {
  display: inline;
  color: white;
}

.linkscontainer {
  display: flex;
  align-content: center;
}

.social-link {
  font-size: 2rem;
  margin: 2px;
}

@media (min-width: 800px) {
  .social-link {
    font-size: 2.8rem;
    margin: 4px;
  }
}

.social-link:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
  color: rgb(255, 87, 58);
}

.blogs-container {
  /* margin-top: -400px; */
  text-align: left;
}

.projects-header {
  display: none;
}

.project-description {
  text-align: left;
  padding: 20px;
}

.programs-used {
  color: aqua;
}

.small-app-description {
  display: none;
}

.divider {
  font-size: 2.5rem;
  font-family: "Teko";
  opacity: 0.9;
  display: block;
  background-image: linear-gradient(
    to left,
    rgb(92, 126, 141, 0.001),
    rgb(92, 126, 141, 0.2)
  );
  padding: 10px;
  text-align: center;
}

@media (min-width: 800px) {
  .divider {
    font-size: 3rem;
    font-family: "Teko";
    opacity: 0.9;
    display: block;
    background-image: linear-gradient(
      to left,
      rgb(92, 126, 141, 0.001),
      rgb(92, 126, 141, 0.2)
    );
    width: 60%;
    margin-bottom: 20px;
    padding: 10px;
  }
}
