/* -------------------------------------FONTS FONTS FONTS--------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Teko");
@import url("https://fonts.googleapis.com/css?family=Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Nixie+One|Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC|Faster+One|Six+Caps|Wire+One");

/* ---------------------------------------------------------------------------------------------------- */

/* #6dbadd */

* {
  box-sizing: border-box;
}

html {
  background: black;
  font-size: 16px;
}

body {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(23, 32, 46));
  background-size: cover;
  background-repeat: no-repeat;
  background-size:100% auto;

  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0;
  display: block;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
  margin-bottom: 0;
}

a:hover,
a:active {
  color: white;
  margin-bottom: 0;
}

header {
  border-bottom: 1px solid black;
  background: rgb(31, 54, 65, 0.9);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  /* justify-content: flex-end; */
  justify-content: space-between;
  height: 10%;
  padding: 10px;
  border-bottom: solid 2px rgb(50, 67, 88);
}

h1 {
  color: white;
  margin: 0.2rem;
  font-size: 4.6rem;
  line-height: 0.8;
}

h2 {
  width: 50%;
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
  /* border-bottom: 1px solid rgb(105, 105, 105); */
  border-color: white;
}

h1,
h2 {
  font-family: "Cormorant SC";
  font-weight: normal;
}

p {
  font-size: 1.25rem;
}

.divider {
  display: none;
}

/* ---------------------------------TOP INFO TOP INFO TOP INFO ------------------*/

.top-info {
  text-align: center;
  margin-top: 120px;
}

.roma-topleft {
  font-size: 1.8rem;
  font-family: "Cormorant SC";
  cursor: default;
  margin-top: 5px;
  color: rgb(211, 189, 174);
}

.romaimage {
  width: 250px;
  height: 250px;
}

.romanpirag {
  border-width: 5px;
  opacity: 0.9;
  color: white;
  margin-left: 30px;
}

.frontend-text {
  opacity: 0.8;
  background: rgb(92, 126, 141, 0.1);
  font-size: 1.4rem;
  margin-top: 15px;
  color: white;
  padding: 15px;
  margin-left: 20px;
}

/* .bio {
  opacity: 0.8;
  background: black;
  color: white;
  align-content: left;
  overflow-wrap: break-word;
} */

.inner-description {
  display: none;
}

/* --------------------LINKS LINKS LINKS ---------------------- */

.linkscontainer {
  text-align: left;
}

.social-link {
  font-size: 2.8rem;
  margin: 4px;
}

.social-link:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
  color: rgb(255, 87, 58);
}

/* ------------------------PROJECTS PROJECTS PROJECTS PROJECTS-------------------------------🍕🍕🍕 */

.project-link {
  width: 100%;
}

.project-link:hover {
  transform: scale(1.02);
  transition: all ease 500ms;
}

.projects-header {
  background: rgb(0, 0, 0, 0.5);
  opacity: 0.9;
  width: 100%;
}

.project-container {
  /* margin-top: -300px; */
  text-align: left;
}
.blogs-container {
  /* margin-top: -500px; */
  text-align: left;
}

.project-description {
  opacity: 0.9;
  color: beige;
  width: 100%;
  background: rgb(92, 126, 141, 0.1);
  font-size: 1.2rem;
  text-align: left;
  margin-top: -4px;
  margin-bottom: 30px;
  padding: 10px;
}

.small-app-description {
  display: inline;
  font-size: 1rem;
  color: white;
}

.blog-description {
  display: inline;
  color: white;
}

/* ------------------------CONTACT AND FOOTER------------------------------- */

.contact-container {
  display: flex;
  opacity: 0.9;
  background: black;
  justify-content: center;
  color: beige;
  border-top: solid 2px rgb(68, 88, 117);
}

.copyright {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  width: 100%;
  background: black;
  font-size: 1.2rem;
  color: beige;
  font-family: "Cormorant SC";
}

/* -----------------------------------------------------------------Parallax Parallax Parallax 🌀🌀🌀 */

body,
html {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
  perspective: 2px;
}

.section {
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  margin-bottom: 50px;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: 400%;
  z-index: -1;
}

.static {
  /* margin-top: -200px; */
  height: 100px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-color: black;
  background: #697887;
  color: black;
}

.bg1::after {
  opacity: 0.2;
  height: 90%;
  /* background-image: url("http://www.androidguys.com/wp-content/uploads/2016/01/new-york-city-background-black-and-white.jpg"); */
}

.bg2::after {
  opacity: 0.2;
  height: 100%;
  margin-top: 250px;
  /* background-image: url("https://i.imgur.com/jLRNV6v.jpg"); */
}

.section.bg3 {
  margin: 0;
}

/* ------------------------------------------------------------Media Query */

@media (min-width: 1024px) {
  body {
    background-size: 118%;
  }

  .section {
    margin-bottom: 100px;
  }

  article {
    width: 60%;
  }
  .top-info {
    margin-top: 160px;
    text-align: left;
    /* margin-left: -570px; */
  }

  .headline-container {
    display: flex;

    /* margin-left: -600px; */
  }

  .frontend-text {
    /* margin-top: -10px; */
    color: beige;
    background: none;
    width: 100%;
  }

  .bio {
    display: none;
    /* font-size: 1.2rem;
    max-width: 500px; */
  }
  .romaimage {
    width: 250px;
    height: 250px;
  }

  .inner-description {
    display: inline;
    color: white;
  }
  .blog-description {
    display: inline;
    color: white;
  }

  .linkscontainer {
    text-align: left;
  }

  .roma-topleft {
    font-size: 2rem;
    font-family: "Cormorant SC";
    cursor: default;
    /* margin-top: 5px; */
  }

  .social-link {
    font-size: 3rem;
    margin: 4px;
  }

  .project-container {
    /* margin-top: -600px; */
    text-align: left;
  }

  .blogs-container {
    /* margin-top: -400px; */
    text-align: left;
  }

  .projects-header {
    display: none;
  }

  .project-description {
    text-align: left;
    padding: 20px;
  }

  .programs-used {
    color: aqua;
  }

  .small-app-description {
    display: none;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translateZ(-1px) scale(1.5);
    background-size: 120%;
    z-index: -1;
  }

  .bg1::after {
    height: 150%;
    /* background-image: url("http://www.androidguys.com/wp-content/uploads/2016/01/new-york-city-background-black-and-white.jpg"); */
  }

  .bg2::after {
    height: 100%;
    margin-top: 500px;
    /* background-image: url("https://i.imgur.com/jLRNV6v.jpg"); */
  }



  .divider {
    font-size: 3rem;
    font-family: "Cormorant SC";
    opacity: 0.9;
    display: block;
    background-image: linear-gradient(
      to left,
      rgb(92, 126, 141, 0.001),
      rgb(92, 126, 141, 0.2)
    );
    /* margin-top: -400px; */
    width: 60%;
    margin-bottom: 20px;
    padding: 10px;
  }
}
